body{
    height: 100vh;
}
section {
    display: none; 
}
#startPage{
    display:block;
}

h2,h3{
    color: #0D6EFD;
}

.input-group{
   
    
    margin: 10px auto;
}

#balancePieChart{
    max-height: 250px;
}

#incomeBarChart{
    max-height: 300px;
}
#expenseBarChart{
    max-height: 400px;
}
#deleteIncome{
    background-color: #aa3838;important!
}

#deleteExpense{
    background-color: #aa3838;important!
}
    
    
    
    
    

    
